{% extends 'base.html' %}

{% load static %}

{% block content %}

    <main role="main"><section class="intro">
    <div class="intro-overlay"></div>
    <div class="" style="background-color:  #ff5257">
        <h3 class="intro-subtitle has-text-centered">Hello, World.</h3>
        <h1 class="intro-title title has-text-centered-widescreen">I'm Joseph Otieno.</h1>
        <p class="intro-position has-text-centered">
            <span>Full Stack Web Developer</span>
        </p>

        <div class="content has-text-centered">
            <a href="https://www.linkedin.com/in/joseph-otieno-73a99b168/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://twitter.com/joseogam" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/JoseOgam" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="mailto:jotienoochieng@gmail.com" target="_blank">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
</section><section class="section about" id="about">
    <div class="container">
        <div class="content has-text-centered">
            <div class="header-intro">
                <h5>About</h5>
                <h6>Get to know me.</h6>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6 my-profile">
                <h5 class="title">My Profile</h5>
                <p>I am a problem solver, a creative and a thinker. I am always looking for the next challenge
                    whether it be within programming or my other fields of interest.
                    I have a few different passions; programming, music & spending time
                    with my friends/family and loving girlfriend.</p>
                <br>
                <ul class="about-list">



                                <li>
                                    <strong>Name:</strong><br>
                                    <span>Joseph O. Ochieng </span>
                                </li>





                                <li>
                                    <strong>Place of Birth:</strong><br>
                                    <span>Kisumu, Kenya</span>
                                </li>





                                <li>
                                    <strong>Date of Birth:</strong><br>
                                    <span>June, 5th it was on a sunday</span>
                                </li>





                                <li>
                                    <strong>Current Location:</strong><br>
                                    <span>Kisumu, Kenya</span>
                                </li>





                                <li>
                                    <strong>Current Job:</strong><br>
                                    <span>Full Stack Web Developer</span>
                                </li>






                                <li>
                                    <strong>Email Address</strong><br>
                                    <a href="mailto:jotienoochieng@gmail.com"><span>jotienoochieng@gmail.com</span></a>
                                </li>



                                    </ul>

            </div>

            <div class="column is-6 my-skills">
                <h5 class="title">My Skills</h5>
                <p>I have been within the software development sphere for atleast four years now,
                    below you will find a list of some of my favorite languages and code bases.
                    First and foremost i am a Python developer but have begun to broaden my horizons
                    into the realms of React & React Native.</p>
                <br>
                <ul class="skills-list">



                                <li>
                                    <strong class="is-uppercase">Python</strong>
                                    <progress class="progress is-small" value="90" max="100">90</progress>
                                    <strong>90%</strong>
                                </li>


                                <li>
                                    <strong class="is-uppercase">Django</strong>
                                    <progress class="progress is-small" value="70" max="100">50</progress>
                                    <strong>50%</strong>
                                </li>




                                <li>
                                    <strong class="is-uppercase">HTML5</strong>
                                    <progress class="progress is-small" value="85" max="100">55</progress>
                                    <strong>55%</strong>
                                </li>




                                <li>
                                    <strong class="is-uppercase">CSS3</strong>
                                    <progress class="progress is-small" value="85" max="100">58</progress>
                                    <strong>58%</strong>
                                </li>




                                <li>
                                    <strong class="is-uppercase">JS</strong>
                                    <progress class="progress is-small" value="75" max="100">30</progress>
                                    <strong>30%</strong>
                                </li>




                                <li>
                                    <strong class="is-uppercase">Java (Android)</strong>
                                    <progress class="progress is-small" value="70" max="100">0</progress>
                                    <strong>0%</strong>
                                </li>




                                <li>
                                    <strong class="is-uppercase">React</strong>
                                    <progress class="progress is-small" value="50" max="100">20</progress>
                                    <strong>20%</strong>
                                </li>



                                    </ul>

            </div>

        </div>

        <div class="columns has-text-centered">
            <div class="column">
                <div class="content tools-list">
                    <h5 class="title">My Development Tools:</h5>
                    <p>PhpStorm, Personal CSS Framework, Bulma, Pycharm,Sublime Text, Gitlab, Github,heroku.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section hero is-light" id="resume">
    <div class="content has-text-centered">
        <div class="header-intro">
            <h5>My Resume</h5>
            <h6>My work experience.</h6>
        </div>
    </div>
    <div class="content has-text-centered">



                    <div class="timeline-item item-1">
                        <div class="timeline-marker green"></div>
                        <div class="timeline-content">
                            <p class="heading">January 2019 - Present</p>
                            <p>Web Developer at Jose solutions</p>
                        </div>
                    </div>




                    <div class="timeline-item item-2">
                        <div class="timeline-marker red"></div>
                        <div class="timeline-content">
                            <p class="heading">June 2018 - August 2018</p>
                            <p>Intern at Universal traders Sacco<sup>3</sup></p>
                        </div>
                    </div>




                    <div class="timeline-item item-3">
                        <div class="timeline-marker red"></div>
                        <div class="timeline-content">
                            <p class="heading"></p>
                            <p></p>
                        </div>
                    </div>




                    <div class="timeline-item item-4">
                        <div class="timeline-marker red"></div>
                        <div class="timeline-content">
                            <p class="heading"></p>
                            <p></p>
                        </div>
                    </div>




                    <div class="timeline-item item-5">
                        <div class="timeline-marker red"></div>
                        <div class="timeline-content">
                            <p class="heading"></p>
                            <p></p>
                        </div>
                    </div>




                    <div class="timeline-item item-6">
                        <div class="timeline-marker red"></div>
                        <div class="timeline-content">
                            <p class="heading"></p>
                            <p> <br> </p>
                        </div>
                    </div>



            </div>
</section>
<section class="section hero portfolio">
    <div class="content has-text-centered">
        <div class="header-intro">
            <h5>My Recent Work</h5>
            <h6>Here are some of my current & upcoming projects.</h6>
        </div>
        <div class="container">
            <div class="portfolio-grid">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
                        <div class="portfolio-item-1">
                            <figure class="image is-3by2">
                                <img class="portfolio-thumb" src="" alt="chill">
                                <div class="overlay">
                                    <div class="content">
                                        <p class="text">My personal website built with Bulma and django.</p>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
                        <div class="portfolio-item-2">
                            <figure class="image is-3by2">
                                <img class="portfolio-thumb" src="" alt="chill">
                                <div class="overlay">
                                    <div class="content">
                                        <p class="text">Under Construction.</p>
                                        <p class="text">Adverticement store built with React.</p>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
                        <div class="portfolio-item-3">
                            <figure class="image is-3by2">
                                <img class="portfolio-thumb" src="https://jethromay.com/wp-content/themes/jethromay/assets/images/github.png" alt="">
                                <div class="overlay">
                                    <div class="content">
                                        <p class="text">I'm always learning, you can view my self study projects on Github.</p>
                                        <a class="button is-rounded view-website" href="https://github.com/JoseOgam" target="_blank">View Projects</a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="support">
            <h5>Want to show appreciation or support future projects?</h5>
            <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/Px9T5qY6j">
                <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee">
                <span style="margin-left:5px">Buy me a coffee</span>
            </a>
        </div>
<section class="section hero is-light testimonials">
    <div class="content has-text-centered">
        <div class="header-intro">
            <h5>Testimonials</h5>
            <h6>What people have to say..</h6>
        </div>
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="testimonials-carousel">



                                <div class="testimonial-block">

                                        <img class="avatar" src="{% static 'IMG_20180813_123239.jpg' %}"
                                             alt="Decco" />

                                    <p class="reference">
                                        “His work approach, maturity and willingness to learn were definitively accomplishments, i would work with him again. ”                                    </p>
                                    <h5>Derrick Omondi</h5>
                                    <p>Software Developer, Cognition Solutions</p>
                                </div>



                                    </div>
            </div>
        </div>
    </div>
</section>
<section class="section hero is-dark contact">
    <div class="container">
        <div class="header-intro">
            <h5 class="has-text-centered is-uppercase">Contact</h5>
            <h6 class="has-text-centered has-text-white">Do you have an idea or simply want to chat?</h6>
            <h6 class="has-text-centered has-text-white">I'd love to hear from you.</h6>
        </div>
        <form id="form" accept-charset="UTF-8" action="" method="POST">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control is-expanded">
                            <input class="input is-medium" name="name" id="name" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="column is-centered">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control is-expanded">
                            <input class="input is-medium" type="email" id="email" name="email" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control is-half">
                            <textarea class="textarea is-medium" name="comment" rows="5" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="field">
                        <div class="control">
                            <button class="button is-medium is-rounded g-recaptcha"
                                    data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"
                                    data-callback='onSubmit'
                                    data-badge="inline">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

        <footer class="section hero is-dark has-text-centered" role="contentInfo"
                  itemscope="itemscope" itemtype="">
    <div class="container is-narrow">
        <div class="social">
            <p class="field">
                <a class="button is-medium is-rounded" href="https://twitter.com/joseogam" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </p>
            <p class="field">
                <a class="button is-medium is-rounded" href="https://www.linkedin.com/in/joseph-otieno-73a99b168/"
                   target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </p>
            <p class="field">
                <a class="button is-medium is-rounded" href="https://github.com/JoseOgam" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
            <p class="field">
                <a class="button is-medium is-rounded" href="mailto:jotienoochieng@gmail.com">
                    <i class="far fa-envelope"></i>
                </a>
            </p>
            <p class="field">
                <a class="button is-medium is-rounded" href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </p>
        </div>

        <div class="copyright">
            <p>Copyright © Joseph O. Ochieng 2019</p>

        </div>

        <a href="https://bulma.io"><img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="163" height="31"></a>

        <div id="scroll-top">
            <a class="scroll" title="Scroll Back To Top" href="#top">
                <i class="fas fa-arrow-up is-large"></i>
            </a>
        </div>
 </footer>
{% endblock %}